html{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    background-color: black;
    text-align: center;
  }

img{
  border: 5px solid white;
  width: 100%;
}

h1{
  text-transform: uppercase;
}

div{
  width: 50%;
  margin-left: 25%;
}

#bottom{
  margin-top: 500px;
  font-size: x-small
}